node_modules/
.DS_Store

dist
dist-ssr
*.local

/test/e2e/public/unity/TemplateData
/test/e2e/public/unity/index.html
/test/e2e/src/firebaseConfig.ts

/TestUnityProject/Library/
/TestUnityProject/Logs/
/TestUnityProject/UserSettings/
/TestUnityProject/Temp
/TestUnityProject/Tests.csproj
/TestUnityProject/Assembly-CSharp.csproj
/TestUnityProject/Assets/NX/UnityBridge/Prefabs/\[Example FirebaseRESTAPI\].prefab.meta
/TestUnityProject/Assets/NX/UnityBridge/Prefabs/\[Example FirebaseRESTAPI\].prefab
/TestUnityProject/Assets/__System-NX.meta
/TestUnityProject/Assets/__System-NX
